.clear:before, clear:after {
	content: " ";
	display: block;
	clear: both;

}
header{
	height: 100px;
	background-color: red;
}

main{
	height: 300px;
	background-color: green;
}

article {
	width: 75%;
	float: left;

}
aside {
	width: 25%;
}
footer{
	height: 50px;
	background-color: blue;
}

}
@media screen and (max-width: 320px){
	article {
		width: 100%;
		float: none;
	}

	aside {
		width: 100%;
		float: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 1200px){
	main{
		background-color: yellow;
	}
	article {
		float: right;
	}
	}	
	aside {
		float: left;
	}

@media screen and (min-width: 1200px){
	main {
		background-color: purple;
	}
}